/* ARKA PLAN */
body {
    margin: 0;
    background: url("image/i.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial;
}

/* GİZLEME */
.hidden { display: none; }

/* LOGIN EKRANI */
.login-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 400px;
    padding: 25px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    text-align: center;
}

.login-card input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
}

.login-card button {
    width: 95%;
    padding: 12px;
    background: #00ff80;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* SOHBET EKRANI */
.chat-screen {
    padding-top: 100px;
}

/* ODA MENÜSÜ */
.room-menu {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.room-menu button {
    padding: 10px 20px;
    background: #1e1e1e;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.room-menu button:hover {
    background: #333;
}

/* SOHBET KUTUSU */
.chat-container {
    width: 70%;
    height: 70vh;
    margin: auto;
    background: #0a0a0a;   /* SİYAH */
    border-radius: 14px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    color: white;
}

.message { color: white; }

.time {
    opacity: 0.5;
    margin-left: 10px;
}

.input-area {
    display: flex;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    background: #222;
    border: none;
    color: white;
}

.input-area button {
    padding: 12px 20px;
    background: #00ff80;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
