body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("image/i.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* GİZLEME */
.hidden { display: none; }

/* GİRİŞ KARTI */
.login-card {
    width: 400px;
    background: rgba(0,0,0,0.8);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    margin: 120px auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #222;
    color: white;
}

.login-card button {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    background: #00ff85;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* SOHBET ANA KUTU */
.chat-container {
    width: 80%;
    height: 80vh;
    margin: 40px auto;
    background: #0d0f12;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

/* ÜST ODA SEÇİM BAR */
.room-bar {
    display: flex;
    gap: 8px;
    padding: 12px;
    background: #111;
    border-bottom: 1px solid #222;
}

.room {
    padding: 8px 14px;
    background: #222;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.room:hover {
    background: #333;
}

/* MESAJLAR */
#messages {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 20px;
    color: white;
}

#messages li {
    margin-bottom: 10px;
}

.time {
    font-size: 12px;
    opacity: 0.6;
}

/* ALT MESAJ GİRİŞİ */
.input-area {
    display: flex;
    padding: 12px;
    background: #111;
}

#messageInput {
    flex: 1;
    padding: 12px;
    background: #222;
    border: none;
    border-radius: 8px;
    color: white;
}

#sendBtn {
    margin-left: 10px;
    padding: 0 18px;
    background: #00ff85;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
