/* ARKA PLAN */
body {
    margin: 0;
    padding: 0;
    background: url("image/i.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

/* SOHBET KUTUSU */
.chat-container {
    width: 60%;
    max-width: 750px;
    height: 80vh;
    margin: 40px auto;
    background: #0d0f14;   /* tam siyah kutu */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* BAŞLIK */
.title {
    color: white;
    margin: 0 0 10px 0;
}

/* MESAJ ALANI */
#messages {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

/* SENİN MESAJLARIN */
.you {
    background: #00c853;
    margin-left: auto;
    text-align: right;
}

/* DİĞERLERİ */
.other {
    background: #30343a;
}

/* SAAT */
.time {
    font-size: 11px;
    opacity: .7;
    margin-left: 6px;
}

/* ALT GÖNDERME ALANI */
.input-area {
    display: flex;
    margin-top: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    background: #111;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
}

.input-area button {
    background: #00e676;
    padding: 0 18px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
