/* TAM EKRAN ARKAPLAN */
body {
    margin: 0;
    padding: 0;
    background: url("image/i.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

/* SOHBET KUTUSU */
.chat-container {
    width: 75%;
    max-width: 1100px;
    height: 85vh;
    margin: 40px auto;
    background: rgba(0,0,0,0.45);
    border-radius: 14px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 40px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* POPUP */
.popup {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-box {
    background: rgba(0,0,0,0.70);
    padding: 25px;
    width: 320px;
    border-radius: 12px;
    text-align: center;
    color: white;
}

.popup-box input {
    width: 90%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

.popup-box button {
    margin-top: 15px;
    padding: 10px 25px;
    background: #00e676;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* MESAJ LİSTESİ */
#messages {
    flex: 1;
    list-style: none;
    padding: 20px;
    overflow-y: auto;
}

/* MESAJLAR */
.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

/* SENİN MESAJIN */
.message.you {
    background: #00c853;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

/* DİĞERLERİ */
.message.other {
    background: #333;
    border-bottom-left-radius: 0;
}

/* SAAT */
.time {
    font-size: 11px;
    opacity: 0.7;
    margin-left: 6px;
}

/* ALT GÖNDERME KUTUSU */
.input-area {
    display: flex;
    padding: 12px;
    background: rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.1);
}

.input-area input {
    flex: 1;
    padding: 12px;
    background: #111;
    border: none;
    color: white;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

.input-area button {
    padding: 0 24px;
    margin-left: 10px;
    background: #00e676;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
