/* ARKA PLAN SADECE EN ARKADA */
body {
    margin: 0;
    padding: 0;
    background: url("image/i.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

/* GİRİŞ EKRANI */
.login-card {
    width: 380px;
    padding: 30px;
    background: #111;
    color: white;
    border-radius: 16px;
    margin: 140px auto;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #222;
    border: none;
    color: white;
    border-radius: 8px;
}

.login-card button {
    margin-top: 14px;
    width: 100%;
    padding: 12px;
    background: #00ff7f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hidden { display: none; }

/* SOHBET ANA KUTUSU */
.chat-container {
    width: 85%;
    max-width: 1300px;
    height: 85vh;
    margin: 30px auto;
    background: rgba(0,0,0,0.85);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
}

/* ODA SEÇİM BAR */
.room-bar {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #0f1116;
}

.room {
    padding: 8px 14px;
    background: #1b1f27;
    border-radius: 8px;
    cursor: pointer;
    color: #aaa;
}

.room.active {
    background: #00ff80;
    color: black;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    list-style: none;
    margin: 0;
}

.message {
    max-width: 60%;
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    background: #222;
}

.you {
    background: #00c853;
    margin-left: auto;
}

.time {
    font-size: 11px;
    opacity: 0.7;
    margin-left: 6px;
}

.input-area {
    display: flex;
    padding: 12px;
    background: #101218;
}

.input-area input {
    flex: 1;
    padding: 14px;
    background: #181a20;
    border: none;
